<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>豆瓣电影</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	</head>

	<body>
		<div id="app">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
						<a class="navbar-brand" href="#">豆瓣电影</a>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="#">影讯&购票</a>
							</li>
							<li>
								<a href="#">选电影</a>
							</li>
							<li>
								<a href="#">排行榜</a>
							</li>
							<li>
								<a href="#">分类</a>
							</li>
							<li>
								<a href="#">影评</a>
							</li>
							<li>
								<a href="#">2016年度榜单</a>
							</li>
							<li>
								<a href="#">2016观影报告</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			
			<div id='content'>
				<!--搜索-->
				<div class="search_outer">
					<div class="search_grounp">
						<div class="log"><a href="">豆瓣电影</a></div>
						<div class="search_box">
							<input type="" name="" id="" v-model="dat" id="search_input"/>
							<button class="glyphicon glyphicon-search" id="search_btn" v-on:click="greet"></button>
						</div>
					</div>
				</div>
			
				<div id="container">
					<!--左边内容-->
					<div class="left_container">
						<!--正在上映-->
						<div class="movie_show">
							<p class="city">电影票—杭州</p>
							<a href="https://www.douban.com/note/639020553/"><img src="img/cl1.jpg"/></a>
							<div class="show_title">
								<span>{{title1}}</span>
								<hr />
							</div>
							<div id="now_show_movie" class="show_movie_public">
								<div class="movie_outer" v-for="arr in arrs">
									<div class="movie_pic"><img :src="arr.images.large" /></div>
									<div class="movie_name">{{arr.title}}</div>
									<div class="movie_grade">评分：<span> {{arr.rating.average}}</span></div>
									<button>选座购票</button>
								</div>
							</div>
							<div class="moreMovie" v-show='show' @click="show=false"><p  @click="ready">显示全部影片</p></div>
							<div class="spinner" id="loading" v-show="showLoading">
							  <div class="bounce1"></div>
							  <div class="bounce2"></div>
							  <div class="bounce3"></div>
							</div>
						</div>
						<!--即将上映-->
						<div class="movie_soon" >
							<div class="show_title">
								<span>{{title2}}</span><span class="total">全部>></span>
								<hr />
							</div>
							<div id="upconme_show_movie" class="show_movie_public">
								<div class="movie_outer" v-for="list in soonList">
									<div class="movie_pic"><img :src="list.images.large" /></div>
									<div class="movie_name">{{list.title}}</div>
									<div class="movie_time">上映时间：<span> {{list.year}}</span></div>
								</div>
							</div>
							
						</div>
						<!--购票小贴士-->
						<div class="movie_tips" >
							<div class="show_title">
								<span>{{title3}}</span><span class="total">常见问题和帮助>></span>
								<hr />
							</div>
							<div id="upconme_show_movie" class="show_movie_public_img">
								<img class="buy_tips" src="https://img3.doubanio.com/f/epstein/1cae9207141991c5592b2caa0c9b2ec6c2693eba/pics/movie/ticket-guide.gif"/>
							</div>
							
						</div>
					</div>
					<div class="right_container" >
						<!--右边资讯-->
						<div class="movie_news">
							<p>资讯······</p>
							<ul class="movie_news_outer">
								<li class="movie_news_child">
									<div class="news_img"><img :src="news_img"/></div>
									<div class="news_title">{{news_title}}</div>
									<div class="news_club">{{news_club}}</div>
								</li>
								<li class="movie_news_child_other" v-for="movie_news_list in movie_news_lists"><p>{{movie_news_list.title}}</p></li>
							</ul>
						</div>
						<!--右边电影票房榜-->
						<div class="movie_tops">
							<div class="movie_tops_tips"><p>电影票房榜</p><p>{{newTopDate}}</p></div>
							<span class="movie_tops_btned" @click="newTop('us_box')">新片榜</span>
							<span class="movie_tops_btn" @click="newTop('us_box')">口碑榜</span>
							<span class="movie_tops_btn" @click="newTop('us_box')">北美榜</span>
							<ul class="movie_tops_menu">
								<li v-for="newTopList in newTopLists" >
									<span class="movie_top_num">{{newTopList.rank}}</span><span class="movie_top_title">{{newTopList.subject.title}}</span>
									<span class="movie_top_pf">{{newTopList.box}}</span>
									<br />
									<span class="movie_top_average">评分{{newTopList.subject.rating.average}}</span><span class="movie_top_count">({{newTopList.subject.collect_count}}人评价)</span>
									<span class="movie_top_btn">
										在线选座
									</span>
									<br />
									<span class="movie_top_pf2">总票房:{{newTopList.box}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<script type="text/javascript">
			//		轮播图时间
			$(function() {
				$('#search_btn').click(function(){
					console.log($('#search_input').val())
				})

				var app = new Vue({
					el: '#app',
					mounted: function() {
						this.ready();
						this.greet();						
					},
					data: {
						aa:false,
						dat:'456655',
						arrs: [],
						soonList:[],
						newTopLists:[],
						newTopDate:'',
						newTopUrl:'new_movies',
						name: 'name',
						someData: '????',
						title1:"正在上映",
						title2:"即将上映",
						title3:"购票小贴士",
						news_img:'https://img3.doubanio.com/img/files/file-1499676221.jpg',
						news_title:'定档丨李安新作《双子煞星》2019年10月北美公映',
						news_club:'豆瓣观影club',
						movie_news_lists:[{title:"盘点丨12部「虚拟现实」影片中的异象空间"},{title:"话题丨#游戏人生难自拔#"},{title:"盘点丨12部「虚拟现实」影片中的异象空间"}],
						count:15,
						show:true,
						showLoading:false
					},
					methods: {
						ready: function() {
							// GET /someUrl
							this.$http.jsonp('http://api.douban.com/v2/movie/in_theaters?count='+this.count).then(response => {
								// get body data
								this.someData = response.data;
								this.count = response.data.total;
								this.arrs = response.data.subjects
							}, response => {
								// error callback
							});
						},
						greet:function(){
							// GET /someUrl
							/*搜索
							'http://api.douban.com/v2/movie/search?tag='+this.dat*/
							this.$http.jsonp('http://api.douban.com/v2/movie/coming_soon?count='+15).then(response => {
								// get body data
								this.soonList = response.data.subjects;
								
							}, response => {
								// error callback
							});
							
						},
						newTop:function(url){
							this.newTopUrl = url;
							this.$http.jsonp('http://api.douban.com/v2/movie/'+this.newTopUrl).then(response => {
								this.newTopLists = response.data.subjects;
								this.newTopDate = response.data.date;
								console.log(this.newTopLists)
							},response => {
								
							});
						}
						
					}
				})
				Vue.http.interceptors.push((request, next) => {
				  app.showLoading = true
				  next((response) => {
				    
				    app.showLoading = false
				    return response
				  });
				});
			})
		</script>

	</body>

</html>
